__pycache__/
*.pyc
.DS_Store
.env
node_modules/
coverage/
.pytest_cache/
dist/
build/venv/
.venv/
env/
.env/
vendor/
.mypy_cache/
.ruff_cache/
bower_components/
jspm_packages/
.cache/
*.pyo
*.pyd
*.o
*.obj
*.dll
*.exe
*.so
*.a
*.lib
*.class
*.jar
*.log
